* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}


body {
	Font-family: sans-serif;
}

.cursive {
	font-family: cursive;
}

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
} 

img {
	max-width: 100%;
	height:  auto;
}



button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}



body.darkmode {
	background: black;
	color: white;

	--accent-color: rgb(0,255,0);
}

body.darkmode button{
	color: white;
}